@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Moon+Dance&display=swap');

.font-dancingscript {
    font-family: 'Dancing script', cursive;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

.grid>div {
    animation: cardEntrance 0.6s ease-out forwards;
    opacity:0;
    animation-delay:calc(var (--index) * 0.1s);
}

@keyframes cardEntrance {
    0% {
        opacity: 0;
        transform: translateY(30px) rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: #2a1e14;
}

::-webkit-scrollbar-thumb {

    background: linear-gradient(45deg, #d97706, #b45309);
    border-radius: 4px;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      overflow: hidden;
}